<div th:fragment="footer" class="container">
    sssss
    <div class="row">
        <nav class="footer-nav">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Startup Guide</a></li>
                <li><a href="#">Download</a></li>

                <li><a href="#">Community</a></li>
                <li><a href="#">SignIn</a></li>
            </ul>
        </nav>
        <div class="credits ml-auto">
            <span class="copyright"> ©
                <script>
                    document.write(new Date().getFullYear())
                </script>, BROCCOLI/GungHo Online Entertainment,Inc./HEADLOCK Inc.
            </span>
        </div>
    </div>
</div>